openapi: 3.0.3
info:
  title: Talevonia API
  version: "1.0.0"
  description: |
    Backend API for Talevonia MVP – a branching, AI-assisted personal storytelling app.
    Identity and quota are derived from IAP receipts (no user accounts).

    Credit System:
    - Pro tier users receive 1000 subscription credits per month (expire monthly)
    - All users can purchase extra credits (100, 500, or 2000 packs) that never expire
    - Credits consumed in order: subscription first, then extra credits (FIFO by purchase date)
    - Credits replace daily quotas entirely

servers:
  - url: https://api.talevonia.app/api/v1
    description: Production

tags:
  - name: AI
    description: AI text and image generation
  - name: IAP
    description: In-app purchase verification and quota

paths:
  /ai/text/continue:
    post:
      tags: [AI]
      summary: Generate AI text continuation candidates
      operationId: aiTextContinue
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
        - $ref: '#/components/parameters/XIAPPlatform'
        - $ref: '#/components/parameters/XIAPReceipt'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AITextContinueRequest'
      responses:
        '200':
          description: AI continuation candidates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITextContinueResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited or quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

/ai/text/edit:
  post:
    tags: [AI]
    summary: Apply AI text editing or transformation to existing text
    operationId: aiTextEdit
    parameters:
      - $ref: '#/components/parameters/XClientVersion'
      - $ref: '#/components/parameters/XPlatform'
      - $ref: '#/components/parameters/XDeviceId'
      - $ref: '#/components/parameters/XIAPPlatform'
      - $ref: '#/components/parameters/XIAPReceipt'
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AITextEditRequest'
    responses:
      '200':
        description: AI edit result candidates
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AITextEditResponse'
      '400':
        description: Invalid request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
      '429':
        description: Rate limited or quota exceeded
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
      '500':
        description: Server error
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'

  /ai/image/generate:
    post:
      tags: [AI]
      summary: Generate AI image for a story node
      operationId: aiImageGenerate
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
        - $ref: '#/components/parameters/XIAPPlatform'
        - $ref: '#/components/parameters/XIAPReceipt'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIImageGenerateRequest'
      responses:
        '200':
          description: AI generated image metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIImageGenerateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited or quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /iap/verify:
    post:
      tags: [IAP]
      summary: Verify IAP receipt and return purchase tier
      operationId: iapVerify
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IAPVerifyRequest'
      responses:
        '200':
          description: IAP verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IAPVerifyResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid or expired receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /quota:
    get:
      tags: [IAP]
      summary: Get current credit balance and quota information
      operationId: getQuota
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
        - $ref: '#/components/parameters/XIAPPlatform'
        - $ref: '#/components/parameters/XIAPReceipt'
      responses:
        '200':
          description: Credits and quota status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsQuotaResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /credits/purchase:
    post:
      tags: [IAP]
      summary: Record a credit purchase from IAP
      operationId: recordCreditPurchase
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
        - $ref: '#/components/parameters/XIAPPlatform'
        - $ref: '#/components/parameters/XIAPReceipt'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditPurchaseRequest'
      responses:
        '200':
          description: Credit purchase recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditPurchaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate transaction (already processed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  parameters:
    XClientVersion:
      name: X-Client-Version
      in: header
      required: false
      schema:
        type: string
      description: Client app version (e.g. "ios-1.0.0")
    XPlatform:
      name: X-Platform
      in: header
      required: false
      schema:
        type: string
        enum: [ios, ipados, macos, android, web]
    XDeviceId:
      name: X-Device-Id
      in: header
      required: false
      schema:
        type: string
      description: Anonymous, client-generated device ID (UUID)
    XIAPPlatform:
      name: X-IAP-Platform
      in: header
      required: false
      schema:
        type: string
        enum: [apple, google]
    XIAPReceipt:
      name: X-IAP-Receipt
      in: header
      required: false
      schema:
        type: string
      description: Base64-encoded IAP receipt

  schemas:
    # Generic wrapper
    SuccessWrapper:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/ErrorObject'
    ErrorObject:
      type: object
      properties:
        code:
          type: string
          example: QUOTA_EXCEEDED
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    # Credits
    SubscriptionCreditsInfo:
      type: object
      properties:
        current:
          type: integer
          description: Current subscription credits available
        monthlyAllocation:
          type: integer
          description: Total monthly allocation for Pro tier
        resetsAt:
          type: string
          format: date-time
          nullable: true
          description: When subscription credits will reset

    CreditPurchaseRecord:
      type: object
      properties:
        transactionId:
          type: string
        productId:
          type: string
        amount:
          type: integer
          description: Original credit amount purchased
        consumed:
          type: integer
          description: Credits already consumed from this purchase
        remaining:
          type: integer
          description: Credits still available from this purchase
        purchaseDate:
          type: string
          format: date-time

    ExtraCreditsInfo:
      type: object
      properties:
        total:
          type: integer
          description: Total extra credits available (sum of all purchase remainings)
        purchases:
          type: array
          description: Individual credit purchases (FIFO order)
          items:
            $ref: '#/components/schemas/CreditPurchaseRecord'

    # AI Text Continue
    AITextContinueRequest:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/AITextContinueMode'
          description: >
            "prose" for full textual continuation, "ideas" for high-level branch or continuation ideas.
          default: prose
        story_context:
          type: object
          properties:
            title:
              type: string
            tags:
              type: array
              items:
                type: string
            language:
              type: string
              example: en
        path_nodes:
          type: array
          items:
            type: object
            properties:
              summary:
                type: string
              content:
                type: string
        generation_params:
          type: object
          properties:
            num_candidates:
              type: integer
              default: 3
            min_words:
              type: integer
              default: 80
            max_words:
              type: integer
              default: 200
            tone:
              type: string
              description: e.g. "neutral", "dark"
            avoid_hard_end:
              type: boolean
              default: true
      required: [story_context, path_nodes]

    AITextContinueMode:
      type: string
      enum:
        - prose    # Generate full prose continuation (default)
        - ideas    # Generate high-level continuation ideas or branch directions

    AITextCandidate:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        title:
          type: string
          nullable: true
        safety_flags:
          type: array
          items:
            type: string

    AITextContinueResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            candidates:
              type: array
              items:
                $ref: '#/components/schemas/AITextCandidate'

    AITextEditMode:
      type: string
      enum:
        - expand           # Expand
        - shorten          # Shorten
        - rewrite          # Rewrite
        - fix_grammar      # Fix Grammar

    AITextEditRequest:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/AITextEditMode'
        story_context:
          type: object
          nullable: true
          properties:
            title:
              type: string
            language:
              type: string
              example: en
            tags:
              type: array
              items:
                type: string
          description: >
            Optional. When present, can be used to generate ideas or keep story tone consistent.
        input:
          type: object
          properties:
            text:
              type: string
              description: The original text to edit or analyze.
            selection:
              type: string
              nullable: true
              description: Optional selected substring; if null, apply to whole text.
        edit_params:
          type: object
          properties:
            target_length:
              type: string
              enum: [shorter, similar, longer]
            tone:
              type: string
              description: e.g. "neutral", "warm", "dark"
            language:
              type: string
              description: Override language if needed
            keep_style:
              type: boolean
              description: Try to keep original style when rewriting.
      required: [mode, input]

    AITextEditCandidate:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        safety_flags:
          type: array
          items:
            type: string

    AITextEditResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            mode:
              $ref: '#/components/schemas/AITextEditMode'
            candidates:
              type: array
              items:
                $ref: '#/components/schemas/AITextEditCandidate'

    # AI Image Generate
    AIImageGenerateRequest:
      type: object
      properties:
        story_context:
          type: object
          properties:
            title:
              type: string
            language:
              type: string
        node:
          type: object
          properties:
            summary:
              type: string
            content:
              type: string
            tags:
              type: array
              items:
                type: string
        image_params:
          type: object
          properties:
            style:
              type: string
              description: e.g. "storybook", "anime", "realistic"
            aspect_ratio:
              type: string
              description: e.g. "3:4", "16:9"
            resolution:
              type: string
              description: e.g. "low", "medium", "high"
      required: [story_context, node]

    GeneratedImage:
      type: object
      properties:
        url:
          type: string
          format: uri
        mime_type:
          type: string
          example: image/png
        width:
          type: integer
        height:
          type: integer

    AIImageGenerateResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            image:
              $ref: '#/components/schemas/GeneratedImage'

    # IAP Verify
    IAPVerifyRequest:
      type: object
      properties:
        platform:
          type: string
          enum: [apple, google]
        receipt:
          type: string
          description: Base64-encoded receipt
        app_version:
          type: string
        device_id:
          type: string
      required: [platform, receipt]

    IAPVerifyResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            purchase_tier:
              type: string
              enum: [free, pro]
            purchase_identity:
              type: string
              description: original_transaction_id or equivalent
            product_id:
              type: string
            valid_until:
              type: string
              format: date-time
              nullable: true
            platform:
              type: string
              enum: [apple, google]

    # Credits Quota Response
    CreditsQuotaResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            purchaseTier:
              type: string
              enum: [free, pro]
            subscriptionCredits:
              $ref: '#/components/schemas/SubscriptionCreditsInfo'
            extraCredits:
              $ref: '#/components/schemas/ExtraCreditsInfo'
            totalCredits:
              type: integer
              description: Total remaining credits (subscription + extra)
              example: 750

    SubscriptionCreditsInfo:
      type: object
      description: Subscription credits that expire monthly
      properties:
        current:
          type: integer
          description: Remaining subscription credits for current period
          example: 250
        monthlyAllocation:
          type: integer
          description: Monthly subscription credit allocation
          example: 1000
        resetsAt:
          type: string
          format: date-time
          nullable: true
          description: When subscription credits will reset (ISO 8601)
          example: "2025-01-01T00:00:00Z"

    ExtraCreditsInfo:
      type: object
      description: Extra purchased credits that never expire
      properties:
        total:
          type: integer
          description: Total extra credits remaining
          example: 500
        purchases:
          type: array
          description: Breakdown of individual credit purchases
          items:
            $ref: '#/components/schemas/CreditPurchaseRecord'

    CreditPurchaseRecord:
      type: object
      description: Individual credit purchase record
      properties:
        transactionId:
          type: string
          example: "1000000123456789"
        productId:
          type: string
          example: "com.talevonia.credits_500"
        amount:
          type: integer
          description: Original credit amount purchased
          example: 500
        consumed:
          type: integer
          description: Credits consumed from this purchase
          example: 50
        remaining:
          type: integer
          description: Credits remaining from this purchase
          example: 450
        purchaseDate:
          type: string
          format: date-time
          description: When this purchase was made (ISO 8601)
          example: "2024-12-01T10:30:00Z"

    # Legacy Quota (deprecated, kept for backward compatibility)
    Quota:
      type: object
      deprecated: true
      description: Deprecated - use CreditsQuotaResponse structure instead
      properties:
        totalCreditsRemaining:
          type: integer
          description: Total remaining credits (subscription + extra)
          example: 700

    # Credit Purchase Request/Response
    CreditPurchaseRequest:
      type: object
      properties:
        transactionId:
          type: string
          description: Unique IAP transaction ID (idempotency key)
        originalTransactionId:
          type: string
          nullable: true
          description: Original transaction ID (for subscription renewals)
        productId:
          type: string
          description: Product ID (e.g., com.talevonia.tale.credits.500)
        purchaseDate:
          type: string
          format: date-time
          description: Purchase timestamp from IAP receipt
        receipt:
          type: string
          nullable: true
          description: Base64-encoded receipt (optional)
      required: [transactionId, productId, purchaseDate]

    CreditPurchaseResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            creditsAdded:
              type: integer
              description: Credits added from this purchase
            totalExtraCredits:
              type: integer
              description: Total extra credits after purchase
            purchaseId:
              type: string
              format: uuid
              description: Internal purchase record ID
            quota:
              $ref: '#/components/schemas/CreditsQuotaInfo'

    CreditsQuotaInfo:
      type: object
      properties:
        subscriptionCredits:
          $ref: '#/components/schemas/SubscriptionCreditsInfo'
        extraCredits:
          $ref: '#/components/schemas/ExtraCreditsInfo'
        totalCredits:
          type: integer
          description: Total available credits