openapi: 3.0.3
info:
  title: Talevonia API
  version: "2.0.0"
  description: |
    Backend API for Talevonia MVP – a branching, AI-assisted personal storytelling app.

    **Authentication:**
    - Users authenticate via Apple Sign In (Google Sign In coming soon)
    - JWT-based authentication with short-lived access tokens (15 min) and long-lived refresh tokens (7 days)
    - All protected endpoints require Authorization header with Bearer token

    **User System:**
    - Users have accounts with user_id (UUID) as primary identifier
    - Account tiers: Free, Pro (determined by IAP subscriptions)
    - Welcome bonus: New users receive 5 credits (configurable) on first login with unique device

    **Credit System:**
    - Pro tier users receive 1000 subscription credits per month (expire monthly)
    - All users can purchase extra credits (100, 500, or 2000 packs) that never expire
    - Credits consumed in order: subscription first, then extra credits (FIFO by purchase date)
    - Credits replace daily quotas entirely

servers:
  - url: https://api.talevonia.app/api/v1
    description: Production

tags:
  - name: Auth
    description: User authentication and account management
  - name: AI
    description: AI text and image generation
  - name: IAP
    description: In-app purchase verification and credit management

paths:
  # =============================================================================
  # Authentication
  # =============================================================================
  /auth/login/apple:
    post:
      tags: [Auth]
      summary: Authenticate with Apple Sign In
      operationId: appleSignIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleSignInRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid request or token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token using refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout - revoke a specific refresh token
      operationId: logout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout-all:
    post:
      tags: [Auth]
      summary: Logout from all devices - revoke all refresh tokens
      operationId: logoutAll
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logged out from all devices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user information
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # AI Generation
  # =============================================================================
  /ai/text/continue:
    post:
      tags: [AI]
      summary: Generate AI text continuation candidates
      operationId: aiTextContinue
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AITextContinueRequest'
      responses:
        '200':
          description: AI continuation candidates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITextContinueResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited or quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ai/text/ideas:
    post:
      tags: [AI]
      summary: Generate AI text continuation ideas
      operationId: aiTextIdeas
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AITextIdeasRequest'
      responses:
        '200':
          description: AI ideas generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITextContinueResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ai/text/edit:
    post:
      tags: [AI]
      summary: Apply AI text editing or transformation to existing text
      operationId: aiTextEdit
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AITextEditRequest'
      responses:
        '200':
          description: AI edit result candidates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITextEditResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited or quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ai/image/generate:
    post:
      tags: [AI]
      summary: Generate AI image for a story node
      operationId: aiImageGenerate
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIImageGenerateRequest'
      responses:
        '200':
          description: AI generated image metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIImageGenerateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited or quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # IAP & Credits
  # =============================================================================
  /iap/verify:
    post:
      tags: [IAP]
      summary: Verify IAP purchase and update user account
      operationId: verifyIAP
      description: |
        Verifies the IAP receipt with Apple/Google, links it to the authenticated user's account,
        and updates their account tier accordingly.

        This endpoint handles:
        - Receipt verification with Apple/Google
        - Linking subscription/purchase to user account
        - Updating user's account_tier (free → pro for subscriptions)
        - Family sharing detection (is_family_shared flag)
        - Subscription status tracking (active, expired, grace_period, billing_retry, cancelled)

        **Flow:**
        1. User authenticates with Apple Sign In
        2. User makes IAP purchase in app
        3. Client calls this endpoint with receipt
        4. Backend verifies receipt, links to user, updates tier
        5. User now has Pro features activated

        **Note:** Authentication is required. Users must login before making purchases.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IAPLinkRequest'
      responses:
        '200':
          description: IAP verified and linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IAPLinkResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - must be logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid or expired receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /quota:
    get:
      tags: [IAP]
      summary: Get current credit balance and quota information
      operationId: getQuota
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      responses:
        '200':
          description: Credits and quota status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsQuotaResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /credits/purchase:
    post:
      tags: [IAP]
      summary: Record a credit purchase from IAP
      operationId: recordCreditPurchase
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XClientVersion'
        - $ref: '#/components/parameters/XPlatform'
        - $ref: '#/components/parameters/XDeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditPurchaseRequest'
      responses:
        '200':
          description: Credit purchase recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditPurchaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate transaction (already processed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from /auth/login/apple or /auth/refresh

  parameters:
    XClientVersion:
      name: X-Client-Version
      in: header
      required: false
      schema:
        type: string
      description: Client app version (e.g. "ios-1.0.0")
    XPlatform:
      name: X-Platform
      in: header
      required: false
      schema:
        type: string
        enum: [ios, ipados, macos, android, web]
    XDeviceId:
      name: X-Device-Id
      in: header
      required: false
      schema:
        type: string
      description: Anonymous, client-generated device ID (UUID)

  schemas:
    # =============================================================================
    # Authentication Schemas
    # =============================================================================
    AppleSignInRequest:
      type: object
      properties:
        idToken:
          type: string
          description: Apple ID token (JWT from Apple Sign In)
        fullName:
          type: string
          nullable: true
          description: User's full name (only provided on first sign in)
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      required: [idToken]

    DeviceInfo:
      type: object
      properties:
        platform:
          type: string
          enum: [ios, ipados, macos]
          description: Device platform
        deviceId:
          type: string
          description: Unique device identifier
        appVersion:
          type: string
          nullable: true
          description: App version
      required: [platform, deviceId]

    AuthResponse:
      $ref: '#/components/schemas/AuthData'

    AuthData:
      type: object
      properties:
        accessToken:
          type: string
          description: Short-lived JWT access token (15 minutes)
        refreshToken:
          type: string
          description: Long-lived refresh token (7 days)
        expiresIn:
          type: integer
          description: Access token expiration in seconds
          example: 900
        user:
          $ref: '#/components/schemas/UserResponse'
        welcomeBonus:
          $ref: '#/components/schemas/WelcomeBonusResponse'

    UserResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          nullable: true
          description: User email (may be Apple private relay)
        fullName:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, suspended, deleted]
        accountTier:
          type: string
          enum: [free, pro]
        createdAt:
          type: string
          format: date-time

    WelcomeBonusResponse:
      type: object
      nullable: true
      description: Welcome bonus information (only present for new user sign-ins)
      properties:
        granted:
          type: boolean
          description: Whether welcome bonus was granted
        amount:
          type: integer
          description: Amount of credits granted (0 if not granted)
          example: 5

    RefreshTokenRequest:
      type: object
      properties:
        refreshToken:
          type: string
      required: [refreshToken]

    RefreshTokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer
          example: 900

    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
      required: [refreshToken]

    LogoutResponse:
      type: object
      properties:
        message:
          type: string
          example: "Logged out successfully"

    MeResponse:
      $ref: '#/components/schemas/UserResponse'

    # =============================================================================
    # Generic Schemas
    # =============================================================================
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'

    ErrorObject:
      type: object
      properties:
        code:
          type: string
          example: QUOTA_EXCEEDED
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    # =============================================================================
    # Credits & IAP Schemas
    # =============================================================================
    IAPLinkRequest:
      type: object
      properties:
        platform:
          type: string
          enum: [apple, google]
        receipt:
          type: string
          description: Base64-encoded receipt
      required: [platform, receipt]

    IAPLinkResponse:
      type: object
      properties:
        accountTier:
          type: string
          enum: [free, pro]
        productId:
          type: string
          nullable: true
        validUntil:
          type: string
          format: date-time
          nullable: true

    CreditsQuotaResponse:
      type: object
      properties:
        accountTier:
          type: string
          enum: [free, pro]
        subscriptionCredits:
          $ref: '#/components/schemas/SubscriptionCreditsInfo'
        extraCredits:
          type: integer
          description: Total extra credits remaining
        totalCredits:
          type: integer
          description: Total remaining credits (subscription + extra)
          example: 750

    SubscriptionCreditsInfo:
      type: object
      description: Subscription credits that expire monthly (Pro tier only)
      properties:
        current:
          type: integer
          description: Remaining subscription credits for current period
          example: 250
        monthlyAllocation:
          type: integer
          description: Monthly subscription credit allocation
          example: 1000
        resetsAt:
          type: string
          format: date-time
          nullable: true
          description: When subscription credits will reset (ISO 8601)
          example: "2025-01-01T00:00:00Z"

    ExtraCreditsInfo:
      type: object
      description: Extra purchased credits that never expire
      properties:
        total:
          type: integer
          description: Total extra credits remaining
          example: 500
        purchases:
          type: array
          description: Breakdown of individual credit purchases
          items:
            $ref: '#/components/schemas/CreditPurchaseRecord'

    CreditPurchaseRecord:
      type: object
      description: Individual credit purchase record
      properties:
        transactionId:
          type: string
          example: "1000000123456789"
        productId:
          type: string
          example: "com.talevonia.credits_500"
        amount:
          type: integer
          description: Original credit amount purchased
          example: 500
        consumed:
          type: integer
          description: Credits consumed from this purchase
          example: 50
        remaining:
          type: integer
          description: Credits remaining from this purchase
          example: 450
        purchaseDate:
          type: string
          format: date-time
          description: When this purchase was made (ISO 8601)
          example: "2024-12-01T10:30:00Z"

    CreditPurchaseRequest:
      type: object
      properties:
        transactionId:
          type: string
          description: Unique IAP transaction ID (idempotency key)
        originalTransactionId:
          type: string
          nullable: true
          description: Original transaction ID (for subscription renewals)
        productId:
          type: string
          description: Product ID (e.g., com.talevonia.credits.500)
        purchaseDate:
          type: string
          format: date-time
          description: Purchase timestamp from IAP receipt
        platform:
          type: string
          enum: [apple, google]
          description: Purchase platform
        receipt:
          type: string
          nullable: true
          description: Base64-encoded receipt (optional)
      required: [transactionId, productId, purchaseDate, platform]

    CreditPurchaseResponse:
      type: object
      properties:
        creditsAdded:
          type: integer
          description: Credits added from this purchase
        totalExtraCredits:
          type: integer
          description: Total extra credits after purchase
        purchaseId:
          type: string
          format: uuid
          description: Internal purchase record ID
        quota:
          $ref: '#/components/schemas/CreditsQuotaSummary'

    CreditsQuotaInfo:
      type: object
      properties:
        subscriptionCredits:
          $ref: '#/components/schemas/SubscriptionCreditsInfo'
        extraCredits:
          $ref: '#/components/schemas/ExtraCreditsInfo'
        totalCredits:
          type: integer
          description: Total available credits

    CreditsQuotaSummary:
      type: object
      properties:
        subscriptionCredits:
          $ref: '#/components/schemas/SubscriptionCreditsInfo'
        extraCreditsTotal:
          type: integer
          description: Total remaining extra credits
        totalCredits:
          type: integer
          description: Total available credits

    # =============================================================================
    # AI Schemas
    # =============================================================================
    AITextContinueRequest:
      type: object
      properties:
        instructions:
          type: string
          description: Optional user instructions to guide the continuation
        storyContext:
          type: object
          properties:
            title:
              type: string
            tags:
              type: array
              items:
                type: string
            language:
              type: string
              example: en
        pathNodes:
          type: array
          items:
            type: object
            properties:
              summary:
                type: string
              content:
                type: string
        generationParams:
          type: object
          properties:
            numCandidates:
              type: integer
              default: 3
            minWords:
              type: integer
              default: 80
            maxWords:
              type: integer
              default: 200
            tone:
              type: string
              description: e.g. "neutral", "dark"
            avoidHardEnd:
              type: boolean
              default: true
      required: [storyContext, pathNodes]

    AITextIdeasRequest:
      type: object
      properties:
        instructions:
          type: string
          description: Optional user instructions to guide the ideas
        storyContext:
          type: object
          properties:
            title:
              type: string
            tags:
              type: array
              items:
                type: string
            language:
              type: string
              example: en
        pathNodes:
          type: array
          items:
            type: object
            properties:
              summary:
                type: string
              content:
                type: string
        generationParams:
          type: object
          properties:
            numCandidates:
              type: integer
              default: 3
            minWords:
              type: integer
              default: 80
            maxWords:
              type: integer
              default: 200
            tone:
              type: string
              description: e.g. "neutral", "dark"
            avoidHardEnd:
              type: boolean
              default: true
      required: [storyContext, pathNodes]

    AITextCandidate:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        title:
          type: string
          nullable: true
        safety_flags:
          type: array
          items:
            type: string

    AITextContinueResponse:
      type: object
      properties:
        candidates:
          type: array
          items:
            $ref: '#/components/schemas/AITextCandidate'

    AITextEditMode:
      type: string
      enum:
        - expand           # Expand
        - shorten          # Shorten
        - rewrite          # Rewrite
        - fix_grammar      # Fix Grammar

    AITextEditRequest:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/AITextEditMode'
        storyContext:
          type: object
          nullable: true
          properties:
            title:
              type: string
            language:
              type: string
              example: en
            tags:
              type: array
              items:
                type: string
          description: >
            Optional. When present, can be used to generate ideas or keep story tone consistent.
        input:
          type: object
          properties:
            text:
              type: string
              description: The original text to edit or analyze.
            selection:
              type: string
              nullable: true
              description: Optional selected substring; if null, apply to whole text.
        editParams:
          type: object
          properties:
            targetLength:
              type: string
              enum: [shorter, similar, longer]
            tone:
              type: string
              description: e.g. "neutral", "warm", "dark"
            language:
              type: string
              description: Override language if needed
            keepStyle:
              type: boolean
              description: Try to keep original style when rewriting.
      required: [mode, input]

    AITextEditCandidate:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        safety_flags:
          type: array
          items:
            type: string

    AITextEditResponse:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/AITextEditMode'
        candidates:
          type: array
          items:
            $ref: '#/components/schemas/AITextEditCandidate'

    AIImageGenerateRequest:
      type: object
      properties:
        storyContext:
          type: object
          properties:
            title:
              type: string
            language:
              type: string
        node:
          type: object
          properties:
            summary:
              type: string
            content:
              type: string
            tags:
              type: array
              items:
                type: string
        imageParams:
          type: object
          properties:
            style:
              type: string
              description: e.g. "storybook", "anime", "realistic"
            aspect_ratio:
              type: string
              description: e.g. "3:4", "16:9"
            resolution:
              type: string
              description: e.g. "low", "medium", "high"
      required: [storyContext, node]

    GeneratedImage:
      type: object
      properties:
        url:
          type: string
          format: uri
        mime_type:
          type: string
          example: image/png
        width:
          type: integer
        height:
          type: integer

    AIImageGenerateResponse:
      type: object
      properties:
        image:
          $ref: '#/components/schemas/GeneratedImage'
